*, *:before, *:after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Optima', sans-serif;;
	line-height: 1.5;
	padding: 48px 12px;
	background-image: url();
 background-size: cover;

}
