*, *:before, *:after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Optima';
	line-height: 1.5;
	padding: 48px 12px;
	background-image: url();
 background-size: cover;

}

.contact {
		box-shadow: 7.5px 7.5px 3.75px #888888;
		border: 100%;
		background-color: #edf2f2;
		padding: 80px;
		width: 100%;
		margin: auto;
}

h5 {
	text-align: center;
}
