.Gallery {
	width: 700px;
  margin: auto;
  overflow: hidden;
}
.gallery-item {
	box-shadow: 7.5px 7.5px 3.75px #888888;
	border: 20px;
	padding: 100px;
	width: 100%;
	margin: auto;
}
.gallery-name {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: rgb(54, 55, 75);
}

.gallery-images {
	display: block;
	margin: auto;
	text-align: center;
}

.gallery-image-main {
	overflow: hidden;
	padding: 30px;
	width: 100%;
	margin: auto;
}

.gallery-image-details {
	width: 100%;
	height: 200 px;
}

.gallery-image-side {
	display: inline-block;
	height: 150px;
}

.gallery-price {
	display: inline-block;
	float: right;
	padding-top: 15%;
	font-size: 25px;
}
