
.gallery-item {
	padding: 100px;
}
.gallery-name {
	text-align: center;
	font-size: 25px;
}

.gallery-image-main {
	display: block;
	margin: auto;
	padding:20px;
	border:1px solid #AFF;
	text-align: center;
}

.gallery-image-previews {
	display: block;
	margin: auto;
	padding:5px;
	border:1px solid #AFF;
	text-align: center;
}
